@model WebSiteBanHang.Models.KhachHang
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TruyVan1DoiTuong</title>
</head>
<body>
    <div> 
        <h2>@Model.TenKH</h2>
    </div>
</body>
</html>
